{% extends "layout.html" %}

{% block content %}

<div class="xl-row aboutus_logo">
    <div class="aboutus_logo1">
            <img src="media/images/logo_grey.png" alt="" class="aboutus_logo1-img">
    </div>
    <div class="xl-col-7 order2">
    <img src="media/images/img2.png" alt="?" class="aboutus_img">
    <img src="media/images/img2_l.png" alt="?" class="aboutus_img_l">
        </div>
   <div  class="xl-col-5 order1">
    <h1 class="aboutus_text1">Specjalizujemy si&#281; w szyciu najbardziej 
    wyszukanych sukni &#347;lubnych z du&#380;&#261; doz&#261; 
    staranno&#347;ci i zaanga&#380;owania.</h1>
    <p class="aboutus_text2"> Nasze projekty tworzymy zgodnie z najnowszymi 
    trendami co doceniaj&#261; najbardziej wymagaj&#261;ce klientki. Wykorzystujemy najlepsze tkaniny z r&#281;cznie wyszywanymi kryszta&#322;kami, per&#322;ami i koronkami. Ka&#380;da sukienka to nietuzinkowy projekt dopracowany z dba&#322;o&#347;ci&#261; o najmniejsze detale. 
    </p>
    <p  class="aboutus_text2">
    Realizujemy projekty indywidualne nie tylko sukni &#347;lubnych ale tak&#380;e sukienek wieczorowych oraz innej garderoby damskiej. Wspó&#322;pracujemy z najlepszymi producentami tkanin, dekoratorami akcesoriów. Posiadamy wysoko wykwalifikowany zespó&#322; krawiecki, konstruktorski oraz do&#347;wiadczon&#261; projektantk&#281; oddan&#261; swojej pasji.</p>
       </div>
</div>
<div  class="xl-row aboutus_margin">
    <div class="xl-col-5">
    <img src="media/images/img3.png" alt="?" class="aboutus_img">
    <img src="media/images/img3_l.png" alt="?" class="aboutus_img_l">
    </div>
    <div class="xl-col-7 aboutus_margin1">
    <img src="media/images/1.png" alt="?" class="aboutus_img1">
    <p  class="aboutus_text3 aboutus_margin2" > Lorem ipsum dolor sit amet, consectetur adipiscing elit. In sed dui libero. Sed egestas aliquam nisi id lobortis. </p>
    <img src="media/images/2.png" alt="?" class="aboutus_img1 aboutus_margin3">
    <p  class="aboutus_text3 aboutus_margin4"> Lorem ipsum dolor sit amet, consectetur adipiscing elit. In sed dui libero. Sed egestas aliquam nisi id lobortis. </p>
    <img src="media/images/needle.png" alt="?" class="aboutus_img1 aboutus_margin5">
    <p  class="aboutus_text3 aboutus_margin2"> Lorem ipsum dolor sit amet, consectetur adipiscing elit. In sed dui libero. Sed egestas aliquam nisi id lobortis. </p>
        </div>
</div>
{% endblock %}