{% extends "layout.html" %}

{% block content %}
<div class="xl-row home_div">
    <div class="xl-col-12 ">
<!--    <img src="media/images/main-min.png" class="main_img">-->
    <img src="media/images/main.png" class="main_img">
        </div>
</div>
{% endblock %}