{% extends "layout.html" %}

{% block content %}

<div class="row xl-row">
    <div class="min-col-11 med-col-5">
        <div id="nav-icon2" class="kolekcje_nav-icon">WYBÓR KOLEKCJI</div>
    </div>
    <nav class="min-col-11 z2 med-col-11 xl-col-2">
        <p class="collection_year">2017</p>
        <ul class="nav3" id="addMenu">
            <li class="nav3_el"><a href="#">Adele</a></li>
            <li class="nav3_el"><a href="#">Amalia</a></li>
            <li class="nav3_el"><a href="#">Bianca</a></li>
            <li class="nav3_el"><a href="#">Camilla</a></li>
            <li class="nav3_el"><a href="#">Catherina</a></li>
            <li class="nav3_el"><a href="#">Chiara</a></li>
            <li class="nav3_el"><a href="#">Ester</a></li>
            <li class="nav3_el"><a href="#">Evelina</a></li>
            <li class="nav3_el"><a href="#">Giovanna</a></li>
            <li class="nav3_el"><a href="#">Lila</a></li>
            <li class="nav3_el"><a href="#">Odilia</a></li>
            <li class="nav3_el"><a href="#">Paola</a></li>
            <li class="nav3_el"><a href="#">Rosa</a></li>
            <li class="nav3_el"><a href="#">Rosalia</a></li>
            <li class="nav3_el"><a href="#">Silvia</a></li>
            <li class="nav3_el"><a href="#">Sofia</a></li>
            <li class="nav3_el"><a href="#">Valentina</a></li>
            <li class="nav3_el"><a href="#">Victoria</a></li>
        </ul>
    </nav>

<div class="xl-col-9">
<img src="media/images/collection_img.png" alt="?" class="collection_img">
    <div class="collection_min_img">
<img src="media/images/collection_img1.png" alt="?" class="collection_img1">
<img src="media/images/collection_img2.png" alt="?" class="collection_img1">
<img src="media/images/collection_img3.png" alt="?" class="collection_img1">
</div>
    </div>
</div>
{% endblock %}