{% extends "layout.html" %} {% block content %}

<div class="xl-row">
    
<p class="contact_text xl-col-12">Napisz do Nas</p>


<form>

    
    <div class="form1">
        <input class="form__input" name="name" type="text" placeholder="Imię i Nazwisko">
        <input class="form__input" name="phone" type="tel" placeholder="Telefon">
        <input class="form__input" name="email" type="email" placeholder="E-mail">
        <input class="form__input" name="topic" type="text" placeholder="Temat">
        <textarea class="form__textarea" name="message" placeholder="Treść wiadomości"></textarea>
    </div>
    <input class="form__input__submit" id="submit" name="submit" type="submit" value="WYŚLIJ">
</form>
<p class="contact_text1 xl-col-12">LUB ZADZWOŃ</p>
<p class="contact_text_num xl-col-12">735 99 66 11</p>
</div>


{% endblock %}