{% extends "layout.html" %}

{% block content %}

<div class="row xl-row galery_margin">
    <div class="row galery_text">
        <div class="min-col-6 h med-col-4">
            <img src="media/images/needle.png" class="needle">
        </div>

        <div class="min-col-9 med-col-9 galery_text1">
            <h1 class="title">ZAMÓWIENIA INDYWIDUALNE</h1>
            <p class="text"> Lorem ipsum dolor sit amet, consectetur elit. Cras tincidunt magna mi, mattis posuere leo interdum ac.</p>
            <p class="text"> Cras tincidunt magna mi, mattis posuere leo interdum ac. Cras tincidunt magna mi. </p>
        </div>
    </div>
    
    <div class="galery">
            <div class="min-col-4 med-col-4 xl-col-4">
                <img src="media/images/img1.png" alt="?" class="galery_img" >
            </div>
            <div class="min-col-4 med-col-4 xl-col-4">
                <img src="media/images/img1.png" alt="?" class="galery_img" >
            </div>
            <div class="min-col-4 med-col-4 xl-col-4">
                <img src="media/images/img1.png" alt="?" class="galery_img" >
            </div>

            <div class="min-col-4 med-col-4 xl-col-4">
                <img src="media/images/img1.png" alt="?" class="galery_img" >
            </div>
            <div class="min-col-4 med-col-4 xl-col-4">
                <img src="media/images/img1.png" alt="?" class="galery_img" >
            </div>
            <div class="min-col-4 med-col-4 xl-col-4">
                <img src="media/images/img1.png" alt="?" class="galery_img" >
            </div>

            <div class="min-col-4 med-col-4 xl-col-4">
                <img src="media/images/img1.png" alt="?" class="galery_img" >
            </div>
            <div class="min-col-4 med-col-4 xl-col-4">
                <img src="media/images/img1.png" alt="?" class="galery_img" >
            </div>
            <div class="min-col-4 med-col-4 xl-col-4">
                <img src="media/images/img1.png" alt="?" class="galery_img" >
            </div>
        </div>
    <div class="galery_padding"></div>  
</div>

{% endblock %}