{% extends "layout.html" %}

{% block content %}

<p class="shop_text1">Lorem ipsum dolor sit amet, consectetur adipiscing elit amet, consectetur adipiscing elit amet, consectetur adipiscing elit adipiscing elit amet, consectetur.</p>
<div class="xl-row">
    <div class="shop-col-min">
        <p class="shop_text2">LAURIS MODA ŚLUBNA</p>
        <p class="shop_text3">UL. J.PIŁSUDSKIEGO 7</P>
        <p class="shop_text3">21-400 ŁUKÓW</p>
        <p class="shop_text3">TEL:  696 956 899</p>
    <img src="media/images/logo_1.png" alt="mapa" class="shop_img_logo">
    </div>
<img src="media/images/mapa.png" alt="mapa" class="shop_img shop-col">
</div>
{% endblock %}