<!DOCTYPE html>
<html lang="pl">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="styles/style.css">
    <title>ATTIKA</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>

    <div class='main row xl-row'>
        <div class="min-col-2 med-col-2">
            <div id="nav-icon1">
                <span></span>
                <span></span>
                <span></span>
            </div>
        </div>
        <div class="min-col-8 med-col-8">

            <img src="media/images/logo_min.png" class="min_logo">

        </div>
        <div class="min-col-2 med-col-2">
        </div>
        <nav class="min-col-12 med-col-12  z1  head-col-main">
            <ul class="nav1" id="mainMenu">
                <li class="nav1__el nav1__el_border"><a href="home.html" title="HOME">HOME</a></li>
                <li class="nav1__el nav1__el_border"><a href="aboutus.html" title="O_NAS">O NAS</a></li>
                <li class="nav1__el nav1__el--collections"><a href="#kolekcje.html" title="KOLEKCJE">KOLEKCJE</a>
                    <ul class="nav2 nav2-xl">
                        <li class="nav2__el nav1__el_border "><a href="kolekcje.html" title="2017">2017</a></li>
                        <li class="nav2__el nav1__el_border nav2__el_border"><a href="order.html" title="O_NAS">ZAMÓWIENIA INDYWIDUALNE</a></li>
                    </ul>
                </li>
                <li class="nav1__el nav1__el_border"><a href="shop.html" title="BUTIKI">BUTIKI</a></li>
                <li class="nav1__el nav1__el_border"><a href="kontakt.html" title="KONTAKT">KONTAKT</a></li>
            </ul>
        </nav>
        <div class="min-col-4 med-col-3 head_ head-col-min">
            <a href="http://www.instagram.com" target="_blank" class="head_a">
                <img src="media/images/inst1.png" class="head_img"> </a>
            <a href="http://www.instagram.com" target="_blank" class="head_a">
                <img src="media/images/fb1.png" class="head_img">
            </a>
            <a href="http://www.instagram.com" target="_blank" class="head_a">
                <img src="media/images/twit1.png" class="head_img">
                <a href="http://www.instagram.com" target="_blank" class="head_a">
                    <img src="media/images/pint1.png" class="head_img">
                </a>
        </div>
    </div>
    <div class="z">
        {% block content %} {% endblock %}
    </div>

    <footer>
        <div class="min-col-8 med-col-9 foot-col-main">
            <p class="foot_text"> ATTIKA &#xA9; All Rights Reserved 2016 </p>
        </div>
        <div class="min-col-4 med-col-3 foot foot-col-min">
            <a href="http://www.instagram.com" target="_blank" class="foot_a">
                <img src="media/images/inst.png" class="foot_img"> </a>
            <a href="http://www.instagram.com" target="_blank" class="foot_a">
                <img src="media/images/fb.png" class="foot_img">
            </a>
            <a href="http://www.instagram.com" target="_blank" class="foot_a">
                <img src="media/images/twit.png" class="foot_img">
                <a href="http://www.instagram.com" target="_blank" class="foot_a">
                    <img src="media/images/pint.png" class="foot_img">
                </a>
        </div>
    </footer>
    <script src="vendors/jquery.min.js"></script>
    <script src="scripts/main.js"></script>
</body>

</html>