html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  height: 100%; }

@font-face {
  font-family: "Bkant";
  src: url(../media/fonts/BKANT.ttf); }

body {
  margin: 0;
  background-color: #fbfaf8;
    height: 100%;
    font-size: 15px;
    font-family: "Bkant";
    
////   padding-bottom: 8%;
//   position: relative;
    @media screen and (min-width: 600px) and (max-width:1024px) {
        font-size:20px
    }
    @media screen and (min-width: 1024.1px) {
        font-size:25px;
    }
}

.main {
    padding: 0;
    top: 0;
    margin: 0;  
    background-color: #fbfaf8;
    @media screen and (max-width: 600px) {
        height: 70px;
    }
    @media screen and (min-width: 1024.1px) {
        height: 90px;
    }
}
@media screen and (min-width: 1024.1px) {
.head-col-main {
    width: 88.5%;
    align-self: center;
}
.head-col-min {
    width: 11.5%;
    align-self: center;
    }
.head_ {
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    margin:0;
    justify-content: center;
    align-items: center;
    }
}
.head_a {
    width: 25%;
    @media screen and (max-width: 1024px) {
        display: none; 
    }
}
.head_img {
  width: 100%;
  height: 100%;
}
.z {
    z-index: 997;
}

.z1 {
    z-index: 999;
}


.nav1 {
    padding-left: 2.5em;
    list-style: none;
    background-color: #fbfaf8;
    display:none;
    margin: 0;
//    margin-top: 70px;
    border-bottom: solid #d6d5d3 0.1em;
    border-top: solid #d6d5d3 0.1em;
//    width:100%;
    @media screen and (min-width:1024.1px) {
        display:flex;
        justify-content: center;
        border: none;
    }
}

.nav2 {
    padding-left: 1em;
    list-style: none;
    @media screen and (min-width:1024.1px) {
        display:none; 
    }
}

.nav2__el {
    font-size: 0.9em;
    padding: 0.8em 0.1em;
    @media screen and (min-width: 1024.1px) {
        font-size: 0.7em;
        padding: 7px !important;
        color: #fbfaf8;
        width: 220px;
        margin:0 !important;
    }
}

 .nav2__el a {
      text-decoration: none;
      color: #262627;
     @media screen and (min-width: 1024.1px) {
        color: #fbfaf8 !important;
    }
}

@media screen and (min-width:1024.1px) {
    .nav1__el--collections {
        position:relative;
    }
    .nav1__el--collections:hover {
    ul {
        display:block;
        position: absolute;
        }
    }
    .nav2-xl {
        margin: 15px 0 0 0;
        background-color: black;
        color: white;
        padding: 10px 5px;
    }
    .nav2__el_border {
        border-top: solid #fbfaf8 1px;
    }
}

.nav1__el {
    font-size: 1em;
    padding: 1em 0.1em 0 1em;
    color: #262627;
     @media screen and (min-width: 1024.1px) {
        font-size: 0.8em;
         padding: 5px 15px;   
    }
}
.nav1__el_border {
    border-bottom: solid #d6d5d3 1px;
    padding-bottom: 1em;
    @media screen and (min-width: 1024.1px) {
        border-bottom: 0;      
    }
}

.nav1__el a {
    text-decoration: none;
    color: #262627;
}
@media screen and (min-width: 1024.1px) {
.nav1__el a {
    text-decoration: none;
    color: #262627;
    }
    .nav1__el a:hover {
       color: #b8b7b5; 
    }
}

#nav-icon1 {
  width: 1.4em;
  height: 1.4em;
  position: relative;
  margin: 1.6em auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer;
  @media screen and (min-width: 1024.1px) {
    display: none;
  }
}
#nav-icon1 span {
  display: block;
  position: absolute;
  height: 0.15em;
  width: 100%;
  background: #343434;
  /*border-radius: 15px;*/
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}

#nav-icon1 span:nth-child(1) {
  top: 0;
}

#nav-icon1 span:nth-child(2) {
  top: 0.4em;
}

#nav-icon1 span:nth-child(3) {
  top: 0.8em;
}

#nav-icon1.open span:nth-child(1) {
  top: 0.5em;
  -webkit-transform: rotate(135deg);
  -moz-transform: rotate(135deg);
  -o-transform: rotate(135deg);
  transform: rotate(135deg);
  height: 0.15em;
}

#nav-icon1.open span:nth-child(2) {
  opacity: 0;
  /*left: -600px;*/
}

#nav-icon1.open span:nth-child(3) {
  top: 0.5em;
  -webkit-transform: rotate(-135deg);
  -moz-transform: rotate(-135deg);
  -o-transform: rotate(-135deg);
  transform: rotate(-135deg);
  height: 0.15em;
}



.min_logo {
  max-width: 90%;
  display: block;
  margin-left:auto;
  margin-right:auto;
    @media screen and (max-width: 767.99999px) {
        max-height: 70px;
    }
    @media screen and (min-width: 1024.1px){
        display:none;
    }
}
.needle {
  height: 80%;
  display: flex;
  margin-left:auto;
  margin-right:auto;
  padding-top: 10%;
  @media screen and (min-width:1024.1px) {
        margin-top: 95px;
        margin-right: 60px;
    }  
}

.title {
  font-weight: lighter;
  text-align: center;
  font-size: 0.95em;
//  font-family: "myFirstFont";
    @media screen and (min-width:1024.1px) {
        font-size: 18px;
        font-weight: 500;
        letter-spacing: 1px;
        margin-left: 2px;
        margin-bottom: 42px;
        text-align: left;
    }
}

.text {
  font-weight: lighter;
  text-align: justify;
  font-size: 0.83em;
//  font-family: "myFirstFont";
    @media screen and (min-width:1024.1px) {
        font-size: 16px;
        margin-top: 20px;
        margin-right: 15%;
    }
}

.h {
  height: 5em;
}

.galery {
  margin:5%;
  width: 100%;
display: flex;
flex-wrap: wrap;
justify-content: center;
    
    @media screen and (min-width:1024.1px) {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin:0;
        width: 67%;
        
    }
    
}


@media screen and (min-width:1024.1px) {
.galery_text{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin: 0;
        width: 31%;
    align-items: flex-start;
    }
    .galery_padding {
        width:2%;
    }
    .galery_text1{
        margin-top: -216px;
        
    }
.galery_margin {
     margin-top: 105px;
 }
    }



.galery_img {
  width: 95%;
  height: 95%;
  display: flex;
  margin-left:auto;
  margin-right:auto;
  filter: grayscale(100%);
    @media screen and (min-width:1024.1px) {
    width: 98%;
    height: 98%;
    }
}

.contact_text {
  text-align: center;
  font-family: "Bkant";
  color: #686868;
  font-size: 1em;
  font-weight: bold;
  // margin:0;
    @media screen and (min-width: 1024.1px) {
        font-weight: 200;
        font-size: 24.5px;
        margin-top: 116px;
        letter-spacing: 1.15px;
    }
}
.contact_text1 {
  text-align: center;
//  font-family: "myFirstFont";
  color: #686868;
  font-size: 0.9em;
  // margin:0;
    @media screen and (min-width: 1024.1px) {
        font-weight: 200;
        font-size: 19px;
//        letter-spacing: 1.15px;
        margin: 0;
    }
}
.contact_text_num {
  text-align: center;
//  font-family: "myFirstFont";
  color: #211f1B;
  font-size: 1.1em;
  font-weight: bold;
    @media screen and (min-width: 1024.1px) {
//        font-weight: 200;
        font-size: 33px;
        letter-spacing: 2px;
        margin: 10px 0 95px 0;
    }
}
form {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  justify-content: center;
}

.form1 {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  justify-content: center;
    @media screen and (min-width: 1024.1px){
        margin: 15px 0 0 0;
    }
}
.form__input {
  width: 70%;
  margin-bottom: 20px;
font-family: "Bkant";
  border-color: #b8b7b5;
  border-width: 1px;
  border-style: solid;
  padding: 1%;
    
    @media screen and (min-width: 1024.1px){
       height: 13px;
        width: 57%;
        padding: 8.5px;
    }
}
.form__textarea {
  width: 70%;
//  margin-bottom: 15px;
  font-family: "Bkant";
  min-height: 140px;
  border: solid #b8b7b5 1px;
  padding: 1%;
     @media screen and (min-width: 1024.1px){
        height: 180px;
        width: 57%;
         border: solid #b8b7b5 1px;
    }
}
::-webkit-input-placeholder {
  color: #d6d5d3;
}
::-moz-placeholder { /* Firefox 19+ */
  color: #d6d5d3;
}
:-ms-input-placeholder { /* IE 10+ */
  color: #d6d5d3;
}
:-moz-placeholder { /* Firefox 18- */
  color: #d6d5d3;
}
.form__input__submit {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  width: 30%;
  border: 1px;
  border-color: #211f1b;
  color: white;
  background-color: #211f1B;
  font-size: 0.7em;
  height: 20px;
    margin-top: 40px;
  margin-bottom: 10px;
    font-family: "Bkant";
    
     @media screen and (min-width: 1024.1px){
       height: 40px;
        width: 24%;
        margin-bottom: 60px;
    }
}
footer {
  background-color: #262627;
  color: white;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  justify-content: center;
  align-items: center;
//   position: absolute;
//   bottom: 0;
    @media screen and (min-width: 1024.1px){
        max-width: 1170px;
        margin-left:auto;
        margin-right:auto;
        height: 70px;
    }
}
  
.foot {
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    margin:0;
    justify-content: center;
    align-items: center;
    }

.foot a {
    width: 25%;

    @media screen and (min-width: 768px) and (max-width: 1024px) {
        width: 20%;
//margin:0; 
    }
}
.foot_text {
  font-size: 0.75em;
  text-align: center;
    @media screen and (min-width: 1024.1px){
        font-size: 0.5em;
        padding-left: 13%; 
        letter-spacing: 1.1px;
    }
}
.foot_img {
  width: 100%;
  height: 100%;
}

.foot_wid {
    width:6.25%;
}

.foot-col-main {
    width: 88.5%;
}
.foot-col-min {
    width: 11.5%;
}
//.foot_a {
//  display:flex;
//  width: 100%;
//    margin:0;
//  align-items: center;
//  justify-content: center;
//
//}

.aboutus_text1 {
    font-size: 1.05em;
    text-align: justify;
    padding-left: 4%;
    padding-right: 4%;
    font-weight: bold;
    @media screen and (min-width:1024.1px) {
        margin-top: 275px;
        padding-bottom: 20px;
        font-size: 18px;
         letter-spacing: 2px;
        padding-right: 15%;
            padding-left: 0;
        text-align: left;
        line-height: 24px;
    }
}
.aboutus_text2 {
    font-size: 1em;
    text-align: justify;
    padding-left: 4%;
    padding-right: 4%;
    @media screen and (min-width:1024.1px) {
        font-size: 18px;
//         margin-top: 5px;
//         letter-spacing: 2px;
        padding-right: 15%;
        padding-left: 0;
        line-height: 20px;
    }
}
.aboutus_text3 {
    font-size: 1em;
    text-align: center;
    padding-left: 4%;
    padding-right: 4%;
    @media screen and (min-width:1024.1px) {
        font-size: 16px;
        line-height: 19px;
        margin_top: 5px;
        padding-left: 5%;
        padding-right: 7%;
        margin: 5px 0;
    
    }
}
.aboutus_img {
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    display: block;
    @media screen and (min-width:1024.1px) {
        display:none;
    }
}
.aboutus_img_l {
    
    display: block;
    margin:0;
    @media screen and (max-width:1024px) {
        display:none;
    }
}
@media screen and (min-width:1024.1px){
.order1 {
    order:1;
    margin:0;
}
.order2 {
    order:2;
    margin:0;
}
}
.aboutus_img1 {
    margin-left: auto;
    margin-right: auto;
    width: 15%;
    display: block;
    margin-top: 5%;
    @media screen and (min-width:768px) and (max-width:1024px) {
        width:8%;
    }
    @media screen and (min-width:1024.1px) {
        width:15%;
        padding-left: 8%;
        padding-right: 4%;
          }
}

@media screen and (min-width:1024.1px) {
.aboutus_margin {
    margin-top:60px;
    }
.aboutus_margin1 {
    margin-top:50px;
    }
.aboutus_margin2 {
        margin-bottom: 65px;
    }
    .aboutus_margin3 {
        margin-bottom: 40px;
    }
    .aboutus_margin4 {
        margin-bottom: 70px;
    }
    .aboutus_margin5 {
        margin-bottom: 25px;
    }
 
}

.aboutus_logo {
    position:relative;
    z-index: 998;

}
.aboutus_logo1 {
    position:absolute;
//    margin-bottom: -100px ;
    z-index: 998;
     @media screen and (max-width:1024px) {
         display:none;
}
    }
    .aboutus_logo1-img {
       margin-bottom: -230px ;
    margin-right: 381px;
        @media screen and (max-width:1024px) {
         display:none;
}
    }
    
.shop_text1 {
    font-size: 1em;
    text-align: center;
    padding-left: 4%;
    padding-right: 4%;
    margin-bottom: 10%;
    margin_top: 10%;
    @media screen and (min-width:1024.1px) {
        font-size: 0.8em;
        margin-top: 150px;
        margin-bottom: 113px;
        max-width: 1170px;
         text-align: center;
        margin-left: auto;
        margin-right:auto;
    }
}

.shop_text2 {
    font-size: 1em;
    text-align: justify;
    padding-left: 4%;
    padding-right: 4%;
    font-weight: bold;
    margin:0;
    @media screen and (min-width:1024.1px) {
        padding-left:3px;
        letter-spacing: 1.48px;
        margin-bottom: 25px;
    }
}
.shop_text3 {
    font-size: 1em;
    text-align: justify;
    padding-left: 4%;
    padding-right: 4%;
    margin:1% 0 1% 0;
      @media screen and (min-width:1024.1px) {
        padding-left:2px;
        letter-spacing: 0.98px;
          font-size: 20px;
          line-height: 21px;
    }
}

.shop_img {
    margin-left: auto;
    margin-right: auto;
    width: 98%;
    display: block;
    margin-bottom: 10%;
    margin-top: 10%;
    @media screen and (min-width:1024.1px) {
        margin: 7px 0 60px 0;
    }
}

.shop_img_logo {
    display: block;
    margin-top: 330px;
    @media screen and (max-width:1024px) {
        display:none;
    }
}
@media screen and (min-width:1024.1px) {
.shop-col {
    width: 68%;
}
.shop-col-min {
    width: 32%;
    }}

//.main_img {
//    margin-left: auto;
//    margin-right: auto;
//    width: 99%;
//    margin-bottom: 0.5%;
//    display: block;
//    @media screen and (max-width:1024px) and (orientation:landscape){
//            display: none;
//    }
//}
.main_img {
    margin-left: auto;
    margin-right: auto;
    width: 99%;
    margin-bottom: 0.5%;
    display: block;
    @media screen and (min-width: 1024.1px){
            margin:0;
        width:100%;
        
    }
}

.home_div {
    align-items: center;
}

.collection_img {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5px;
    width: 94%;
    display: block;
    @media screen and (min-width:1024.1px){
        display: flex;
        margin-top: 106px;
//        margin-right: 70px;
        width:81%;
    }
}

.collection_img1 {
    
    @media screen and (max-width:1024px){
        display: none;
    }
}
@media screen and (min-width:1024.1px){
    .collection_min_img {
        display: flex;
        align-items: center;
        justify-content: center;
    }
}
.nav3 {
    padding-left: 0;
    list-style: none;
    background-color: #fbfaf8;
    display:none;
    margin: 0 0 5px 0;
    width: 100%;
//    border-top: solid #d6d5d3 0.1em;
    @media screen and (min-width:1024.1px){
        display: flex;
        flex-flow: column;
        margin: 0;
        
    }
}
.collection_year {
    font-size: 30px;
    transform: rotate(270deg);
    color: #c7c6c5;
    width: 24px;
    margin: 15px 0 14px 10px;
    height: 65px;
    @media screen and (max-width:1024px){
        display: none;
    }
}

.nav3_el {
    font-size: 1em;
    padding: 0.7em 0.1em;
    color: #262627;
    border-bottom: solid #d6d5d3 0.1em;
    text-align: center;
     @media screen and (min-width:1024.1px){
        text-align: left;
         border: none;
         padding: 0 ;
          font-size: 18px;
         line-height: 40px;
    }
}

.nav3_el a {
    text-decoration: none;
    color: #262627;
}
.nav3_el a:hover {
    font-weight: bold;
    font-size: 20px;
}

.kolekcje_nav-icon {
    text-align: center;
    color: #262627;
    padding: 0.5em;
    font-size: 1em;
    border: solid dimgrey 0.1em;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
//    background-color: #d6d5d3;
    font-weight: bold;
    margin-bottom: 0.4em;
    @media screen and (min-width:1024.1px){
        display: none;
    }
}
@media screen and (max-width:767.9999999px){
.min-col-1 {
  width: 8.33%; }
.min-col-2 {
  width: 16.66%; }
.min-col-3 {
  width: 25%; }
.min-col-4 {
  width: 33.33%; }
.min-col-5 {
  width: 41.66%; }
.min-col-6 {
  width: 50%; }
.min-col-7 {
  width: 58.33%; }
.min-col-8 {
  width: 66.66%; }
.min-col-9 {
  width: 75%; }
.min-col-10 {
  width: 83.33%; }
.min-col-11 {
  width: 91.66%; }
.min-col-12 {
  width: 100%; }
}
@media screen and (min-width: 768px) and (max-width: 1024px){
.med-col-1 {
  width: 8.33%; }
.med-col-2 {
  width: 16.66%; }
.med-col-3 {
  width: 25%; }
.med-col-4 {
  width: 33.33%; }
.med-col-5 {
  width: 41.66%; }
.med-col-6 {
  width: 50%; }
.med-col-7 {
  width: 58.33%; }
.med-col-8 {
  width: 66.66%; }
.med-col-9 {
  width: 75%; }
.med-col-10 {
  width: 83.33%; }
.med-col-11 {
  width: 91.66%; }
.med-col-12 {
  width: 100%; }
}

@media screen and (min-width: 1024.1px){
    .xl-col-1 {
  width: 8.33%; }
.xl-col-2 {
  width: 16.66%; }
.xl-col-3 {
  width: 25%; }
.xl-col-4 {
  width: 33.33%; }
.xl-col-5 {
  width: 41.66%; }
.xl-col-6 {
  width: 50%; }
.xl-col-7 {
  width: 58.33%; }
.xl-col-8 {
  width: 66.66%; }
.xl-col-9 {
  width: 75%; }
.xl-col-10 {
  width: 83.33%; }
.xl-col-11 {
  width: 91.66%; }
.xl-col-12 {
  width: 100%; }
    
}

@media screen and (max-width:1024px){
.row {
width: 100%;
display: flex;
flex-wrap: wrap;
margin: 0;
justify-content: center;
}
    }

@media screen and (min-width:1024.1px) {
    .xl-row {
        width: 100%;
        max-width:1170px;
        display: flex;
        flex-wrap: wrap;
        margin-left: auto;
        margin-right:auto;
        justify-content: center;
            }
}

